.main{
  display: flex;
  flex-direction: column;
}
.scroll_2{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.block_ele {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
    height: 780px;
  }
  
  .ele_image_1 {
    width: 1090px;
    height: 545px;
    /* border: 4px solid var(--Border); */
    position: fixed;
  }
  
  .image {
    width: 100%;
    height: 100%;
  }
  

  .card_ele {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 350px;
    width: 1092px;
    height: 100%;
    padding: 20px 0px 0px 0px;
    background-color: var(--Card-Background);
  }
  .card_title {
    font-family: var(--Font-Family-2);
    font-style: normal;
    font-weight: var(--Font-Weight-1);
    font-size: var(--Heading-1);
    line-height: 50px;
    letter-spacing: 0.02em;
    color: var(--Default-Font);
  }
  .card_date_writer{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .writer_text{
    font-family: var(--Font-Family-1);
    font-style: normal;
    font-weight: var(--Font-Weight-3);
    font-size: var(--Body-Default);
    line-height: 30px;
    color: var(--Border);
  }
  .date_text{
    font-family: var(--Font-Family-1);
    font-style: normal;
    font-weight: var(--Font-Weight-3);
    font-size: var(--Body-Default);
    line-height: 30px;
    color: var(--Secondary-Font);
  }
  .news_details {
    font-family: var(--Font-Family-1);
    font-style: normal;
    font-weight: var(--Font-Weight-3);
    font-size: var(--Body-Default);
    line-height: 30px;
    color: var(--Default-Font);
  }
  .card_source{
    display: flex;
    flex-direction: row;
    gap: 7px;
    text-decoration: none;
  }
  .card_source_text{
    font-family: var(--Font-Family-1);
    font-style: normal;
    font-weight: var(--Font-Weight-3);
    font-size: var(--Body-Default);
    line-height: 30px;
    color: var(--Default-Font);
  }
  .card_source_link{
    font-family: var(--Font-Family-1);
    font-style: normal;
    font-weight: var(--Font-Weight-3);
    font-size: var(--Body-Default);
    line-height: 30px;
    color: var(--Heading-Font);
    cursor: pointer;
    text-decoration: none;
  }
  .card_source_link:hover{
    text-decoration: underline;
  }
  .more_stories_heading{
    box-sizing: border-box;
    text-align: start;
    padding:40px 40px 10px 40px;
    width: 100%;
    border-bottom: 1px solid var(--Stroke);
    z-index: 1;
}
.more_stories_text{
    font-family: var(--Font-Family-2);
    font-style: normal;
    font-weight: var(--Font-Weight-1);
    font-size: var(--Heading-1);
    line-height: 50px;
    letter-spacing: 0.02em;
    color: var(--Heading-Font);
}

  