.main_section{
    display: flex;
    flex-direction: column;
    gap:0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}
.full_story_heading {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 40px 10px 40px;
    border-bottom: 1px solid var(--Stroke);
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.full_story_text {
    font-family: var(--Font-Family-2);
    font-style: normal;
    font-weight: var(--Font-Weight-1);
    font-size: var(--Heading-1);
    line-height: 50px;
    letter-spacing: 0.02em;
    color: var(--Heading-Font);
    flex: none;
    flex-grow: 0;
}

.news_details{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
}

.top_image{
    width: 1090px;
    height: 545px;
    align-self: center;
}
.image{
    width: 100%;
    height: 100%;
}
.card_block{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 900px;
    padding: 20px 20px 20px 20px;
    align-self: center;
    background-color: var(--Card-Background);
    margin-top: -8.5rem;
}
.card_block:hover{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1090px;
  padding: 20px 20px 20px 20px;
  align-self: center;
  background-color: var(--Card-Background);
  margin-top:0rem;
}
.card_title {
    font-family: var(--Font-Family-2);
    font-style: normal;
    font-weight: var(--Font-Weight-1);
    font-size: var(--Heading-1);
    line-height: 50px;
    letter-spacing: 0.02em;
    color: var(--Default-Font);
    flex: none;
    align-self: flex-start;
  }
  .card_date_writer {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .writer_text {
    font-family: var(--Font-Family-1);
    font-style: normal;
    font-weight: var(--Font-Weight-3);
    font-size: var(--Body-Default);
    line-height: 30px;
    color: var(--Border);
  }
  .date_text {
    font-family: var(--Font-Family-1);
    font-style: normal;
    font-weight: var(--Font-Weight-3);
    font-size: var(--Body-Default);
    line-height: 30px;
    color: var(--Secondary-Font);
  }
  .news_description {
    font-family: var(--Font-Family-1);
    font-style: normal;
    font-weight: var(--Font-Weight-3);
    font-size: var(--Body-Default);
    line-height: 30px;
    color: var(--Default-Font);
  }
  .card_source {
    display: flex;
    flex-direction: row;
    gap: 7px;
    text-decoration: none;
  }
  .card_source_text {
    font-family: var(--Font-Family-1);
    font-style: normal;
    font-weight: var(--Font-Weight-3);
    font-size: var(--Body-Default);
    line-height: 30px;
    color: var(--Default-Font);
  }
  .card_source_link {
    font-family: var(--Font-Family-1);
    font-style: normal;
    font-weight: var(--Font-Weight-3);
    font-size: var(--Body-Default);
    line-height: 30px;
    color: var(--Heading-Font);
    cursor: pointer;
    text-decoration: none;
  }
.icon_section {
    width: 80px;
    height: 80px;
  }
  .icon {
    width: 100%;
    height: 100%;
  }
  .more_stories_heading {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    text-align: start;
    padding: 40px 40px 10px 40px;
    width: 100%;
    border-bottom: 1px solid var(--Stroke);
  }
  
  .more_stories_text {
    font-family: var(--Font-Family-2);
    font-style: normal;
    font-weight: var(--Font-Weight-1);
    font-size: var(--Heading-1);
    line-height: 50px;
    letter-spacing: 0.02em;
    color: var(--Heading-Font);
  }