.parallax_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.ele_image {
  width: 1090px;
  min-height: 500px;
  border: 4px solid blue;
  margin: 0px;
  margin-top: 20px;
  background-image: url("https://im.rediff.com/sports/2022/dec/01messi-fans1.jpg?w=670&h=900");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_ele {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
  width: 1092px;
  padding: 20px 0px 0px 0px;
  background-color: var(--Card-Background);
}
.card_title {
  font-family: var(--Font-Family-2);
  font-style: normal;
  font-weight: var(--Font-Weight-1);
  font-size: var(--Heading-1);
  line-height: 50px;
  letter-spacing: 0.02em;
  color: var(--Default-Font);
  flex: none;
  align-self: flex-start;
}
.card_date_writer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.writer_text {
  font-family: var(--Font-Family-1);
  font-style: normal;
  font-weight: var(--Font-Weight-3);
  font-size: var(--Body-Default);
  line-height: 30px;
  color: var(--Border);
}
.date_text {
  font-family: var(--Font-Family-1);
  font-style: normal;
  font-weight: var(--Font-Weight-3);
  font-size: var(--Body-Default);
  line-height: 30px;
  color: var(--Secondary-Font);
}
.news_details {
  font-family: var(--Font-Family-1);
  font-style: normal;
  font-weight: var(--Font-Weight-3);
  font-size: var(--Body-Default);
  line-height: 30px;
  color: var(--Default-Font);
}
.card_source {
  display: flex;
  flex-direction: row;
  gap: 7px;
  text-decoration: none;
}
.card_source_text {
  font-family: var(--Font-Family-1);
  font-style: normal;
  font-weight: var(--Font-Weight-3);
  font-size: var(--Body-Default);
  line-height: 30px;
  color: var(--Default-Font);
}
.card_source_link {
  font-family: var(--Font-Family-1);
  font-style: normal;
  font-weight: var(--Font-Weight-3);
  font-size: var(--Body-Default);
  line-height: 30px;
  color: var(--Heading-Font);
  cursor: pointer;
  text-decoration: none;
}

.more_stories_heading {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 40px 40px 10px 40px;
  width: 100%;
  border-bottom: 1px solid var(--Stroke);
}
.icon_section {
  width: 80px;
  height: 80px;
}
.icon {
  width: 100%;
  height: 100%;
}
.more_stories_text {
  font-family: var(--Font-Family-2);
  font-style: normal;
  font-weight: var(--Font-Weight-1);
  font-size: var(--Heading-1);
  line-height: 50px;
  letter-spacing: 0.02em;
  color: var(--Heading-Font);
}
